<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Notícia</title>
    <link rel="stylesheet" th:href="@{/css/criarNoticia.css}">
</head>
<body>
    <div class="admin-container">
        <h1>Criar Nova Notícia</h1>
        <form method="POST" th:action="@{/salvarNoticia}">
            <input type="text" name="titulo" placeholder="Título" required>

            <label for="tipo">Tipo:</label>
            <select name="tipo" id="tipo">
                <option value="Texto">Texto</option>
                <option value="Foto">Foto</option>
                <option value="Vídeo">Vídeo</option>
                <option value="Urgente">Urgente</option>
            </select>

            <textarea name="conteudo" placeholder="Conteúdo..." required></textarea>

            <input type="text" name="fonte" placeholder="Fonte (opcional)">
            <input type="text" name="url_foto" placeholder="URL da foto (se Tipo=Foto)">
            <input type="text" name="url_video" placeholder="URL do vídeo (se Tipo=Vídeo)">

            <button type="submit">Salvar</button>
            <a class="cancel-btn" th:href="@{/admin}">Cancelar</a>
        </form>
    </div>
</body>
</html>
